<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Traveling Salesman Problem application" />
    <title>TSP Solver</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://asd.nowt.me/font/v0.1.2/js/all.svg.js"></script>
    <script defer="defer" src="/js/main.7343c631.js"></script>
    <link href="/css/main.98ed714f.css" rel="stylesheet" />
    <script type="text/javascript">
      window.location.href = "https://tsp.ivant.dev";
    </script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <p>You will be redirected to <a href="https://tsp.ivant.dev">https://tsp.ivant.dev</a></p>
    </div>
  </body>
</html>
